<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">

            <div class="for-group col-md-1"><label for="starttime" class="form-label ">上次登陆时间</label></div>
            <div class="form-group col-md-2">
                <input name="start" type='date' id='starttime' placeholder="请输入起始日期" class="form-control"
                       v-model="q.startTime"/>
            </div>

            <div class="form-group col-md-2">
                    <input type='date' id='endtime' placeholder="请输入结束日期" class="form-control" v-model="q.endTime"/>
            </div>

            <div class="form-group col-md-1">
                <input id="studentName" type="text" placeholder="学员名" class="form-control"
                       v-model="q.studentName"
                       @keyup.enter="query"/>
            </div>
            <div class="form-group col-md-1">
                <input id="email" type="text" placeholder="注册邮箱" class="form-control" v-model="q.email"
                       @keyup.enter="query"/>
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            <a class="btn btn-danger" @click="forbidden"><i class="fa fa-trash-o"></i>&nbsp;禁用</a>
            <a class="btn btn-success" @click="recover"><i class="fa fa-trash-o"></i>&nbsp;恢复</a>

        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">学员用户名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="student.name" placeholder="学员用户名"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">性别</div>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" v-model="student.sex" name="sex" value="0" checked="checked"/> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" v-model="student.sex" name="sex" value="1"/> 女
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">登录密码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="student.password" placeholder="登录密码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">联系电话</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="student.phone" placeholder="联系电话"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">注册邮箱</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="student.email" placeholder="注册邮箱"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="../../js/modules/uas/student.js"></script>
</body>
</html>