<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/fileinput.min.css">
    <link rel="stylesheet" href="../../plugins/datepicker/bootstrap-datetimepicker.min.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../libs/fileinput.min.js"></script>
    <script src="../../libs/zh.js"></script>
    <script src="../../plugins/datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="../../plugins/datepicker/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="for-group col-md-1"><label for="startTime" class="form-label ">上次登陆时间</label></div>
            <div class="form-group col-md-2">
                <input name="start" type='text' id='startTime' placeholder="请输入起始日期" class="form-control"
                       v-model="q.startTime"/>
            </div>

            <div class="form-group col-md-2">
                <input type='text' id='endTime' placeholder="请输入结束日期" class="form-control" v-model="q.endTime"/>
            </div>

            <div class="form-group col-md-1">
                <input id="studentName" type="text" placeholder="教员名" class="form-control"
                       v-model="q.teacherName"
                       @keyup.enter="query"/>
            </div>
            <div class="form-group col-md-1">
                <input id="email" type="text" placeholder="注册邮箱" class="form-control" v-model="q.email"
                       @keyup.enter="query"/>
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            <a class="btn btn-danger" @click="forbidden"><i class="fa fa-trash-o"></i>&nbsp;禁用</a>
            <a class="btn btn-success" @click="recover"><i class="fa fa-plus"></i>&nbsp;恢复</a>
            <a class="btn btn-default" @click="upload">上传头像</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">昵称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.nickname" placeholder="昵称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">真实姓名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.name" placeholder="真实姓名"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">密码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.password" placeholder="密码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">性别</div>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" v-model="teacher.sex" name="sex" value="0" checked="checked"/> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" v-model="teacher.sex" name="sex" value="1"/> 女
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">出生年月</div>
                <div class="col-sm-10">
                    <input type="date" class="form-control" v-model="teacher.birthday" placeholder="出生年月"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">最高学历</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.education" placeholder="最高学历"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">所学专业</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.major" placeholder="所学专业"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">就读大学</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.university" placeholder="就读大学"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">联系电话</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.phone" placeholder="联系电话"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">电子邮箱</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.email" placeholder="电子邮箱"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">通讯地址</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.address" placeholder="通讯地址"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">辅导经验</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.teachingTime" placeholder="辅导经验"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">教授区域</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.teachingArea" placeholder="教授区域"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">教授科目</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.teachingSubject" placeholder="教授科目"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">外语水平</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.foreignLevel" placeholder="外语水平"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">家教经历</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.experience" placeholder="家教经历"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">职业</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="teacher.identity">
                        <option value="0" selected="selected">在校大学生</option>
                        <option value="1">在职教师</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">qq</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.qq" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">目前身份</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.currentStatus" placeholder="目前身份"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">微信</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="teacher.wechat" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">自我描述</div>
                <div class="col-sm-10">
                    <textarea class="form-control" v-model="teacher.description"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <form class="form-horizontal">
                <div class="modal-content" style="width: 1000px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">上传图片</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">选择要上传的图片</div>
                            <div class="col-sm-9">
                                <input id="uploadFile" type="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </form>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<script src="../../js/modules/uas/teacher.js"></script>
</body>
</html>