<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;家教系统后台</h3>
        <ul>
            <br>
            <h4> &nbsp;&nbsp;&nbsp;1、学员管理 </h4><br>
            <h4> &nbsp;&nbsp;&nbsp;2、教员管理 </h4><br>
            <h4>&nbsp;&nbsp;&nbsp;3、预约管理</h4><br>
            <h4> &nbsp;&nbsp;&nbsp;4、家教单管理</h4><br>
            <h4> &nbsp;&nbsp;&nbsp;5、订单管理</h4><br>
            <h4> &nbsp;&nbsp;&nbsp;6、图片管理</h4><br>
            <h4> &nbsp;&nbsp;&nbsp;7、收藏管理</h4><br>
            <h4>&nbsp;&nbsp;&nbsp;8、充值管理</h4> <br>


        </ul>

    </div>
</div>
</body>
</html>